<mat-toolbar color="primary" class="navbar">
  <div class="navbar-content">
    <div class="company-section" (click)="goToTodos()">
      <mat-icon class="company-icon">task_alt</mat-icon>
      <span class="company-name">Todos App</span>
    </div>

    <div class="user-section" *ngIf="user">
      <span class="welcome-text">Welcome, {{ userName }}</span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="userMenu"
        class="user-menu-button"
        matTooltip="User Menu"
      >
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

    <div class="login-section" *ngIf="!user">
      <button mat-button (click)="goToTodos()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </div>
  </div>
</mat-toolbar>
